<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Monitoring</title>
</head>
<body>
    <h1>Network Monitoring</h1>
    <button id="fine-tune-button">Fine Tune Model</button>
    <button id="start-capture-button">Start Capture</button>
    <p id="fine-tune-status" style="color: green;"></p>
    <p id="capture-status" style="color: blue;"></p>
    <img id="plot" src="{{ url_for('plot_png') }}" alt="Plot" width="800">
    <p id="status-message" style="color: red;"></p>
    <script>
        document.getElementById('fine-tune-button').addEventListener('click', function() {
            fetch('/fine_tune', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('fine-tune-status').innerText = data.status;
                })
                .catch(error => {
                    document.getElementById('fine-tune-status').innerText = 'Error: ' + error;
                });
        });

        document.getElementById('start-capture-button').addEventListener('click', function() {
            fetch('/start_capture', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('capture-status').innerText = data.status;
                })
                .catch(error => {
                    document.getElementById('capture-status').innerText = 'Error: ' + error;
                });
        });

        function refreshPlot() {
            fetch('/status')
                .then(response => response.json())
                .then(data => {
                    if (!data.new_data) {
                        document.getElementById('status-message').innerText = 'No new data available';
                    } else {
                        document.getElementById('status-message').innerText = '';
                    }
                    document.getElementById('plot').src = '/plot.png?' + new Date().getTime();
                });
        }
        setInterval(refreshPlot, 5000);
    </script>
</body>
</html>
